In [2]:
# Import Random Forest from sklearn
from sklearn.model_selection import cross_val_predict, GridSearchCV, cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler

C:\Anaconda\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [3]:
# Import numpy and pandas
import pandas as pd
import numpy as np

In [4]:
food_db = pd.read_csv('ag_prd_food_xd.csv', sep=',')

In [5]:
population_db = pd.read_csv('population_total.csv', sep=',')

In [6]:
murdery_db = pd.read_csv('murder_total_deaths.csv', sep=',')

In [7]:
oil_db = pd.read_csv('oil_production_total.csv', sep=',')

In [85]:
population_db_total = population_db.sum(0).to_frame()
population_db_total.columns = ['total']
population_db_total = population_db_total.iloc[1:]
population_db_total

            total
1800    947395605
1801    950660905
1802    954801805
1803    959761605
1804    964128505
1805    968292505
1806    972488505
1807    976657405
1808    980732505
1809    985988505
1810    991368405
1811    994828315
1812   1000000655
1813   1004780585
1814   1009524145
1815   1015312805
1816   1020476975
1817   1026605775
1818   1031657775
1819   1037848005
1820   1043189835
1821   1049895785
1822   1055834555
1823   1061473705
1824   1067645505
1825   1073410705
1826   1079472435
1827   1084866155
1828   1091484815
1829   1098104095
...           ...
2071  10561429212
2072  10596001111
2073  10635461909
2074  10653136808
2075  10682343705
2076  10703366407
2077  10742106212
2078  10767756009
2079  10784337806
2080  10821838403
2081  10834324203
2082  10859390707
2083  10882051407
2084  10903524907
2085  10917941464
2086  10948369014
2087  10958283372
2088  10977446025
2089  10997193581
2090  11005953144
2091  11036020606
2092  11041953065
2093  11067619516
2094  11075621882
2095  11099777533
2096  11104574894
2097  11115392242
2098  11129197899
2099  11140886460
2100  11153248818

[301 rows x 1 columns]

In [86]:
murdery_db_total = murdery_db.sum(0).to_frame()
murdery_db_total.columns = ['total']
murdery_db_total = murdery_db_total.iloc[1:]
murdery_db_total

       total
1990  332300
1991  345002
1992  359144
1993  377003
1994  391701
1995  397655
1996  398264
1997  398247
1998  400834
1999  405152
2000  409917
2001  408782
2002  409661
2003  406887
2004  403754
2005  401290
2006  396812
2007  392248
2008  391117
2009  388296
2010  385825
2011  382777
2012  380678
2013  381173
2014  383349
2015  386675
2016  389574

In [87]:
food_db_total = food_db.sum(0).to_frame()
food_db_total.columns = ['total']
food_db_total = food_db_total.iloc[1:]

In [88]:
for i in range(1990, 2017):
    food_db_total.iloc[food_db_total.index.values.tolist().index(str(i))] /= population_db_total.iloc[population_db_total.index.values.tolist().index(str(i))]
    murdery_db_total.iloc[murdery_db_total.index.values.tolist().index(str(i))] /= population_db_total.iloc[population_db_total.index.values.tolist().index(str(i))]

In [93]:
food_db_total = food_db_total.iloc[1990-1961:]

In [94]:
murdery_db_total

            total
1990  6.27503e-05
1991  6.40442e-05
1992  6.57041e-05
1993  6.78365e-05
1994  6.94961e-05
1995  6.95702e-05
1996  6.87003e-05
1997  6.77648e-05
1998  6.72701e-05
1999  6.71875e-05
2000    6.716e-05
2001  6.60906e-05
2002  6.53582e-05
2003  6.40742e-05
2004  6.28521e-05
2005  6.17584e-05
2006  6.02712e-05
2007  5.87938e-05
2008  5.79434e-05
2009  5.68637e-05
2010  5.57529e-05
2011  5.46061e-05
2012  5.36873e-05
2013  5.31313e-05
2014  5.28476e-05
2015  5.26291e-05
2016  5.25062e-05

In [117]:
X = pd.DataFrame()

In [118]:
X['food'] = food_db_total['total']
X['murdery'] = murdery_db_total['total']
X

             food      murdery
1990  2.40868e-06  6.27503e-05
1991  2.40057e-06  6.40442e-05
1992  2.76249e-06  6.57041e-05
1993  2.76245e-06  6.78365e-05
1994  2.68798e-06  6.94961e-05
1995  2.74113e-06  6.95702e-05
1996  2.76871e-06  6.87003e-05
1997   2.7556e-06  6.77648e-05
1998  2.73654e-06  6.72701e-05
1999  2.77533e-06  6.71875e-05
2000  2.77444e-06    6.716e-05
2001  2.74587e-06  6.60906e-05
2002  2.76598e-06  6.53582e-05
2003  2.78796e-06  6.40742e-05
2004  2.85286e-06  6.28521e-05
2005  2.84727e-06  6.17584e-05
2006  2.91161e-06  6.02712e-05
2007  2.92153e-06  5.87938e-05
2008  2.97826e-06  5.79434e-05
2009  3.01328e-06  5.68637e-05
2010  3.03183e-06  5.57529e-05
2011  3.06549e-06  5.46061e-05
2012  3.06084e-06  5.36873e-05
2013  3.13099e-06  5.31313e-05
2014  3.11869e-06  5.28476e-05
2015  3.11593e-06  5.26291e-05
2016  3.09401e-06  5.25062e-05

In [100]:
y = pd.read_csv('new_births_total_number_estimated.csv', sep=',').sum(0).to_frame().iloc[1:]

In [101]:
y

                0
1800  3.81269e+07
1801  3.82538e+07
1802  3.84643e+07
1803  3.86422e+07
1804  3.89039e+07
1805  3.90446e+07
1806  3.91886e+07
1807  3.93392e+07
1808  3.94726e+07
1809  3.95939e+07
1810  3.97988e+07
1811  4.00827e+07
1812  4.02327e+07
1813  4.04142e+07
1814  4.05916e+07
1815  4.08698e+07
1816   4.1068e+07
1817  4.13152e+07
1818   4.1612e+07
1819  4.18304e+07
1820  4.21211e+07
1821  4.23985e+07
1822   4.2616e+07
1823  4.28262e+07
1824  4.30158e+07
1825  4.33651e+07
1826  4.35502e+07
1827  4.36487e+07
1828  4.39190e+07
1829  4.41152e+07
...           ...
1986    136668300
1987    137925420
1988    138549320
1989    138698020
1990    138078400
1991    137120840
1992    135735330
1993    134353750
1994    132971880
1995    131749380
1996    130768190
1997    130080010
1998    129655660
1999    129503140
2000    129698020
2001    130166520
2002    130767690
2003    131536010
2004    132367950
2005    133247670
2006    134223790
2007    135181160
2008    136150640
2009    137027300
2010    137930710
2011    138515240
2012    139141790
2013    139662410
2014    140148760
2015    140263140

[216 rows x 1 columns]

In [102]:
y = y.iloc[1990-1800:]

In [107]:
y

              0
1990  138078400
1991  137120840
1992  135735330
1993  134353750
1994  132971880
1995  131749380
1996  130768190
1997  130080010
1998  129655660
1999  129503140
2000  129698020
2001  130166520
2002  130767690
2003  131536010
2004  132367950
2005  133247670
2006  134223790
2007  135181160
2008  136150640
2009  137027300
2010  137930710
2011  138515240
2012  139141790
2013  139662410
2014  140148760
2015  140263140

In [119]:
X = X.iloc[:-1]

In [140]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=42)

In [142]:
regr = RandomForestRegressor(max_depth=2, random_state=0,
                            n_estimators=100)
regr.fit(X_train, y_train)
RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)
print(regr.feature_importances_)
y_test_pre = regr.predict(X_test)
ans = 0
for i in range(len(y_test.values)):
    ans += abs(y_test_pre[i] - y_test.values[i]) / y_test.values[i]
ans /= len(y_test.values)
print(ans)

[ 0.18505092  0.81494908]
[0.014870967089254823]

/Users/podvorniy/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [128]:
rfr.feature_importances_

NotFittedError: This RandomForestRegressor instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.